.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
    #samples_heading,.chart_title{
        font-weight: bold;
        text-transform: uppercase;
        font-size: 1.3em;
    }
    .switchButton{
        font-size: 0.9em;
    }
    
    .bold{
        font-weight: bold;
    }
    .modal-dialog{
        max-width: 100%;
    }